NEXT_PUBLIC_SUPABASE_URL=your_supabase_url
NEXT_PUBLIC_SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6InB2d2dscm5ybXppbnp6d2V3aXJ5Iiwicm9sZSI6ImFub24iLCJpYXQiOjE3NzQ3MDk3NjYsImV4cCI6MjA5MDI4NTc2Nn0.Q8agDmy-KG8puSzPLszOk3suqt2icUCzBg9dI_XK2SM
